<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title><%= t('app.pokemon-paradise') %></title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <link href="/stylesheets/main.css" rel="stylesheet" />
    <link rel="apple-touch-icon-precomposed" href="/images/apple-icon.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/images/apple-icon-ipad.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/images/apple-icon.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/images/apple-icon-ipad.png" />
    <link rel="apple-touch-startup-image" href="/images/apple-startup.png" media="(device-width: 320px) and (device-height: 480px)" />
    <link rel="apple-touch-startup-image" href="/images/apple-startup-iphone5.png" media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)" />
    <link rel="apple-touch-startup-image" href="/images/apple-startup-ipad-portrait.png" media="(device-width: 768px) and (device-height: 1024px) and (orientation: portrait)" />
    <link rel="apple-touch-startup-image" href="/images/apple-startup-ipad.png" media="(device-width: 768px) and (device-height: 1024px) and (orientation: landscape)" />

    <script>
      if (!("ontouchstart" in document.documentElement)) {
        document.documentElement.className += " no-touch";
      }
      var PARADISE = {
        imgBase: '<%= settings["img base"] %>'
        ,locale: '<%= i18n.lng() %>'
        ,me: <%- JSON.stringify(me) -%>
      };
    </script>
    <script data-main="/javascripts/main" src="/components/requirejs/require.js"></script>
  </head>
  <body>
    
    <nav class="navbar">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-52poke-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="http://bbs.52poke.com/"><%= t('app.pokemon-zone') %></a>
        </div>

        <div class="collapse navbar-collapse navbar-52poke-collapse">
          <ul class="nav navbar-nav">
            <li><a href="http://bbs.52poke.com/"><%= t('app.forum') %></a></li>
            <li><a href="http://www.52poke.com/"><%= t('app.main-page') %></a></li>
            <li><a href="http://wiki.52poke.com/"><%= t('app.wiki') %></a></li>
            <li class="active"><a href="/"><%= t('app.pokemon-paradise') %></a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      <div id="browser-error" class="alert alert-danger" style="display:none">
        <h4><%= t('app.incompatible-browser') %></h4>
        <ul>
          <li><a href="http://www.google.com/chrome/">Google Chrome</a> 17</li>
          <li><a href="http://www.mozilla.org/">Mozilla Firefox</a> 10</li>
          <li><a href="http://www.beautyoftheweb.com/">Internet Explorer</a> 9</li>
          <li><a href="http://www.apple.com/safari/">Safari</a> 5</li>
          <li><a href="http://www.opera.com/">Opera</a> 12</li>
          <li><a href="http://www.apple.com/ios/whats-new/#safari">Safari for iOS</a> 5</li>
          <li><a href="http://www.google.com/intl/en/chrome/browser/mobile/">Chrome for Mobile</a></li>
        </ul>
      </div>
      <!--<div class="alert alert-warning">
        <strong>✻</strong> 开发中画面，与神奇宝贝乐园正式版会有差异。
      </div>-->
      
      <div id="paradise-alert"></div>
    </div>

    <div class="container app-container">
      <section id="paradise-app">
        <main></main>
        <aside></aside>
      </section>
    </div>

    <div class="container">
      <hr />
      <footer>
        <p>
          &copy; 2005-<%= new Date().getFullYear() %> <a href="http://bbs.52poke.com/"><%= t('app.pokemon-zone') %></a>
        </p>
      </footer>
    </div>
    
    <div id="paradise-modal"></div>
    
    <script>
      /* detect canvas support */
      if (!document.createElement('canvas').getContext) {
        document.getElementById('browser-error').style.display = 'block';
        document.getElementById('paradise-app').style.display = 'none';
      }

      /* viewport fix for Windows Phone 8 */
      if (navigator.userAgent.match(/IEMobile\/10\.0/)) {
        var msViewportStyle = document.createElement("style");
        msViewportStyle.appendChild(
          document.createTextNode('@-ms-viewport{width:auto!important}')
        );
        document.getElementsByTagName("head")[0].appendChild(msViewportStyle);
      }

      /* viewport fix for 7-inch Tablets */
      window.addEventListener('orientationchange', function(){
        if (screen.width >= 600 && screen.width < 768) {
          document.querySelector("meta[name=viewport]")
          .setAttribute('content', 'width=768px, user-scalable=0');
        } else {
          document.querySelector("meta[name=viewport]")
          .setAttribute('content', 'width=device-width, initial-scale=1.0, user-scalable=no');
        }
      }, false);

      window.dispatchEvent(new Event('orientationchange'));
    </script>
  </body>
</html>